
.header-index{
    text-align: center;
    

    h1 {
        font-family: Shrikhand;
        color: $logocolor;
        margin-top: 5px;
        margin-bottom: 5px;
       
    }

     a {
        text-decoration: none;
    }

    &__location {
        display: flex;
        padding-top: 11px;
        padding-bottom: 11px;
        background-color: $lightgrey2;
        border-top: $greyline solid;
        justify-content: center;
        
        
        input[type=text] {
            display: inline;
            text-align: center;
            background-color: $lightgrey2;
            font-weight: 400;
            width: 150px;
            border: none;
            color: $greytext;

        }

        .fa-map-marker-alt {
            color: $greytext;
        }

        
    }

    

    &__text {
        background-color: $lightgrey1;
        
        h2 { font-weight:500;
            font-size: 1.4rem;
            margin-top: 0px;
            padding-top: 35px;
            padding-right: 50px;
            padding-left: 50px;
        }

        h3 {
            font-weight: 300;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 1.1rem;
            color: lighten($greytext, 25);

        }
        
    }

    &__button {
        margin: 15% auto 15% auto;
        border: none;
        border-radius: 50px;
        padding: 5%;
        font-weight: bold;
        font-size: 1.1rem;
        color: white;
        cursor: pointer;
        display: inline-block;
        min-width: 195px;
        margin-top: 12px;
        
        
    

        &.gradient {
            background: linear-gradient(-10deg, $primaire, #F074DA);
            box-shadow: 0 0 3px darken($secondaire, 40);
            transition: all 200ms;
            text-shadow: 0 1px 1px rgb(47, 47, 47);
            box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);

    }

}
    
}

//Header in restaurant page//


.fa-arrow-left {
    font-size: 1.3rem;
    color: $greytext;
    position: absolute;
    left: 20px;
    padding-top: 15px;

}