* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.header-index h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.header-index {
  text-align: center;
}
.header-index h1 {
  font-family: Shrikhand;
  color: #101010;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header-index a {
  text-decoration: none;
}
.header-index__location {
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #EAEAEA;
  border-top: #D6D6D6 solid;
  justify-content: center;
}
.header-index__location input[type=text] {
  display: inline;
  text-align: center;
  background-color: #EAEAEA;
  font-weight: 400;
  width: 150px;
  border: none;
  color: #353535;
}
.header-index__location .fa-map-marker-alt {
  color: #353535;
}
.header-index__text {
  background-color: #F6F6F6;
}
.header-index__text h2 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 0px;
  padding-top: 35px;
  padding-right: 50px;
  padding-left: 50px;
}
.header-index__text h3 {
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.1rem;
  color: #757575;
}
.header-index__button {
  margin: 15% auto 15% auto;
  border: none;
  border-radius: 50px;
  padding: 5%;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  min-width: 195px;
  margin-top: 12px;
}
.header-index__button.gradient {
  background: linear-gradient(-10deg, #9356DC, #F074DA);
  box-shadow: 0 0 3px #ac007d;
  transition: all 200ms;
  text-shadow: 0 1px 1px #2f2f2f;
}

.fa-arrow-left {
  font-size: 1.3rem;
  color: #353535;
  position: absolute;
  left: 20px;
  padding-top: 15px;
}

.footer {
  background-color: #353535;
  color: white;
  margin: 0px;
  padding-bottom: 40px;
}
.footer h1 {
  padding: 20px 15px 0px 20px;
  margin-bottom: 20px;
  font-family: Shrikhand;
  color: white;
  font-size: 1.2rem;
  margin-top: 0px;
}
.footer a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.footer a:first-child p {
  margin: 0px;
  padding-bottom: 5px;
}
.footer a:nth-child(2) p {
  margin: 0px;
  margin-bottom: 10px;
}
.footer .fa-utensils {
  padding-right: 10px;
  font-size: 90%;
}
.footer .fa-hands-helping {
  padding-right: 10px;
  font-size: 70%;
}
.footer a:nth-child(3) {
  padding-bottom: 8px;
}

.container {
  margin: 0px;
}

.fonctionement h2 {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.fonctionement__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 320px;
  height: 70px;
  background-color: #F6F6F6;
  margin-top: 20px;
  box-shadow: 5px 5px 15px 5px #C1C1C1;
  margin-left: auto;
  margin-right: auto;
}
.fonctionement__btn:hover {
  background-color: #ffeefa;
}
.fonctionement .fonctionement__btn--1:hover .fa-mobile-alt {
  color: #9356DC;
}
.fonctionement .fonctionement__btn--1 .fa-mobile-alt {
  font-size: 125%;
  margin-right: 30px;
  margin-left: -35px;
  color: #686868;
}
.fonctionement .fonctionement__btn--1.fonctionement__btn--1::before {
  content: "1";
  height: 4px;
  width: 4px;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  left: -68px;
  font-weight: 400;
}
.fonctionement .fonctionement__btn--2:hover .fa-list-ul {
  color: #9356DC;
}
.fonctionement .fonctionement__btn--2 .fa-list-ul {
  font-size: 125%;
  margin-right: 30px;
  margin-left: -30px;
  color: #686868;
}
.fonctionement .fonctionement__btn--2.fonctionement__btn--2::before {
  content: "2";
  height: 4px;
  width: 4px;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  left: -69px;
  font-weight: 400;
}
.fonctionement .fonctionement__btn--3:hover .fa-store {
  color: #9356DC;
}
.fonctionement .fonctionement__btn--3 .fa-store {
  font-size: 125%;
  margin-right: 30px;
  margin-left: -30px;
  color: #686868;
}
.fonctionement .fonctionement__btn--3.fonctionement__btn--3::before {
  content: "3";
  height: 4px;
  width: 4px;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  left: -65px;
  font-weight: 400;
}

.restaurants-index {
  margin-top: 65px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}
.restaurants-index h2 {
  padding-top: 30px;
  padding-left: 15px;
}

.resto-card {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  width: 330px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 1px 6px 15px 4px rgba(0, 0, 0, 0.2);
}
.resto-card a {
  text-decoration: none;
}
.resto-card__image {
  display: block;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  height: 180px;
  width: 100%;
}
.resto-card__titre {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 15px;
  margin-top: 15px;
}
.resto-card__soustitre {
  color: black;
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 15px;
  margin-top: -15px;
}
.resto-card__new {
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 3px;
  background-color: #99E2D0;
  padding: 4px 8px 4px 8px;
  font-weight: 500;
  font-size: 0.9rem;
  color: #278870;
  margin: 0;
}
.resto-card .fa-heart {
  position: absolute;
  right: 23px;
  bottom: 23px;
}
.resto-card .fa-heart {
  color: #f5f5f5;
  font-size: 1.3rem;
  -webkit-text-stroke: 1px #353535;
  transition: linear-gradient(10deg, #9356DC, #F074DA) 1500ms;
}
.resto-card .fa-heart:hover {
  color: #9356DC;
}

.restaurants-img img {
  max-height: 240px;
  width: 100%;
  object-fit: cover;
}

.restaurants {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  z-index: 2;
  margin: -50px 0 0 0;
  position: relative;
}

.restaurants-titre {
  display: flex;
  align-items: center;
}
.restaurants-titre .fa-heart {
  color: #f5f5f5;
  font-size: 1.3rem;
  -webkit-text-stroke: 1px #353535;
  transition: linear-gradient(10deg, #9356DC, #F074DA) 1500ms;
  padding-top: 25px;
  padding-left: 35px;
}
.restaurants-titre .fa-heart:hover {
  color: #9356DC;
}

.restaurants-titre h1 {
  font-family: Shrikhand;
  color: #101010;
  font-size: 0.5rem;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.8rem;
  padding: 25px 10px 0px 15px;
}

.card {
  padding-left: 15px;
  padding-right: 15px;
}
.card .card__titre {
  max-width: 40px;
  border-bottom: #99E2D0 3px solid;
}
.card .card__titre h2 {
  font-weight: 300;
  font-size: 1.1rem;
  color: #6E6E6E;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.card .card__item {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  margin: 20px 0;
  padding-left: 10px;
  cursor: pointer;
  background-color: white;
}
.card .card__item h3 {
  margin-bottom: 0px;
}
.card .card__item p {
  margin-top: 0px;
  padding-top: 5px;
  color: #6E6E6E;
}
.card .description {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
