
//Section  Fonctionement//

.fonctionement {
    h2 {
        padding-left: 15px;
    }



    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        width: 320px;
        height: 70px;
        background-color: $lightgrey1;
        margin-top: 20px;
        box-shadow:  5px 5px 15px 5px #C1C1C1;

    }
}


//Section  Restaurants//

.restaurants-index {
    margin-top: 80px;
    padding-top: 30px;
    background-color: $lightgrey1;
    h2 {
        padding-left: 15px;
    }

}

.resto-card {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    width: 330px;
    height: 250px;

    a {
        text-decoration: none;
    }

    &__image {
        display: block;
        object-fit: cover; 
        border-radius: 10px 10px 0 0;
        height: 180px;
        width: 100%;

    }

    &__titre {
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
        padding-left: 15px;
        margin-top: 15px ;
        
    }

    &__soustitre {
        color: black;
        font-size: 1rem;
        font-weight: lighter;
        padding-left: 15px;
        margin-top: -15px;
        
    }

    &__new {
        position: relative;
        right: 5px;
        top: 5px;
        background-color: $tertiaire;
        padding: 2px 4px 2px 4px;
        font-weight: bold;
        color: darken($tertiaire, 40%);
      }

    .fa-heart {
        position: relative;
        right: 13px;
        bottom: 13px;
      }

    
}


