
//main layout//
.container {
    margin: 0px;
}





//Section  Fonctionement//

.fonctionement {

    .fonctio {
        @include desktop {
            display: flex;
            flex-direction: row;

          }
    }
        
    

    h2 {
        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 10px;
        
        @include desktop {
            margin-top: 0;
            margin-bottom: 0;
            
          }

    
    }




    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        width: 320px;
        height: 70px;
        background-color: $lightgrey1;
        margin-top: 20px;
        box-shadow:  5px 5px 15px 5px #C1C1C1;
        margin-left: auto;
        margin-right: auto;
        
        &:hover {
            background-color: lighten($secondaire, 23%);
            
          }

    }

    .fonctionement__btn--1 {

        &:hover {
            .fa-mobile-alt {
                color: $primaire;
            }
        }
        

        .fa-mobile-alt {
            font-size: 125%;
            margin-right: 30px;
            margin-left: -35px;
            color: lighten($greytext, 20%);
            
        }

        &.fonctionement__btn--1::before {
            content: "1";
            height: 4px;
            width: 4px;
            background-color: $primaire;
            border-radius: 50px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            position: relative;
            left: -68px;
            font-weight: 400;
          }

    }

    .fonctionement__btn--2 {

        &:hover {
            .fa-list-ul {
                color: $primaire;
            }
        }

        .fa-list-ul {
            font-size: 125%;
            margin-right: 30px;
            margin-left: -30px;
            color: lighten($greytext, 20%);
        }

        &.fonctionement__btn--2::before {
            content: "2";
            height: 4px;
            width: 4px;
            background-color: $primaire;
            border-radius: 50px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            position: relative;
            left: -69px;
            font-weight: 400;
          }

    }

    .fonctionement__btn--3 {

        &:hover {
            .fa-store {
                color: $primaire;
            }
        }
        
        .fa-store {
            font-size: 125%;
            margin-right: 30px;
            margin-left: -30px;
            color: lighten($greytext, 20%);
        }

        &.fonctionement__btn--3::before {
            content: "3";
            height: 4px;
            width: 4px;
            background-color: $primaire;
            border-radius: 50px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            position: relative;
            left: -65px;
            font-weight: 400;
          }

    }

    
}


//Section  Restaurants//

.restaurants-index {
    margin-top: 65px;
    padding-bottom: 60px;
    
    background-color: $lightgrey1;
    h2 {
        padding-top: 30px;
        padding-left: 15px;

        @include desktop {
            margin-top: 0;
            margin-bottom: 15px;
            
          }
    }

}

.restoindex {

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        
      }
    
}

.resto-card {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    width: 330px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 1px 6px 15px 4px rgba(0,0,0,0.2);
    

    a {
        text-decoration: none;
    }

    &__image {
        display: block;
        object-fit: cover; 
        border-radius: 10px 10px 0 0;
        height: 180px;
        width: 100%;

    }

    &__titre {
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
        padding-left: 15px;
        margin-top: 15px ;
        
    }

    &__soustitre {
        color: black;
        font-size: 1rem;
        font-weight: lighter;
        padding-left: 15px;
        margin-top: -15px;
        
    }

    &__new {
        position: absolute;
        right: 15px;
        top: 15px;
        border-radius: 3px;
        background-color: $tertiaire;
        padding: 4px 8px 4px 8px;
        font-weight: 500;
        font-size: 0.9rem;
        color: darken($tertiaire, 40%);
        margin: 0;
      }


    .fa-heart {
        position: absolute;
        right: 23px;
        bottom: 23px;
      }

    .fa-heart {
        color: #f5f5f5;
        font-size: 1.3rem;
        -webkit-text-stroke: 1px $greytext;
        transition: color 1500ms;

        &:hover {
          color: $primaire;
        }
      }

    
}


