//animation des dish-card (progressive apparition)


@keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.dish-card {
    animation: fadein 1.5s;
    animation-fill-mode: backwards;
  
    &:nth-of-type(1) {
      animation-delay: 0.4s;
    }
  
    &:nth-of-type(2) {
      animation-delay: 0.8s;
    }
  
    &:nth-of-type(3) {
      animation-delay: 1.2s;
    }
  
    &:nth-of-type(4) {
      animation-delay: 1.6s;
    }
}