//colors//
$logocolor:#101010;
$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$lightgrey1:#F6F6F6;
$lightgrey2:#EAEAEA;
$greyline: #D6D6D6;
$greytext: #353535;
$soustitre: #6E6E6E;
//button colors//
$primary-light: lighten($primaire, 5%);
$button-light: lighten(#F074DA, 5%);


